<div style="width:100%;background-color: rgb(233,236,243);">
  <div style="border:solid 1px red;float:left;width:300px;height:500px;">
    <div style="border-radius: 10%;border:solid 1px black;width:200px;height:200px;position:relative;top:50px;left:50px;"></div>
    <div class="btn-group" role="group" style="border:solid 1px black;width:240px;height:50px;position:relative;top:150px;left:30px;">
      <button type="button" class="btn btn-default btn-sm">加为好友</button>
      <button type="button" class="btn btn-default btn-sm">删除好友</button>
      <button type="button" class="btn btn-default btn-sm">隐身</button>
      <button type="button" class="btn btn-default btn-sm">可见</button>
    </div>
  </div>
  <div style="border:solid 1px red;float:left;width:500px;height: 500px;">
    <div style="border:solid 1px black;width:480px;height:300px;position:relative;top:10px;left:10px;">
      {{content}}
    </div>
    <div editor content="content" style="height:200px; width:600px;"></div>
  </div>
</div>
